/*Our Services*/

.service-container {
    margin: 0;
    padding: 100px;
}

/*Services heading*/



.service-heading {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.service-heading .line-service  {
    width: 200px;
    height: 1px;
    border: 2px solid black;
}

.service-heading h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
}

.service-heading  span {
    color: #FF3334;
}

/*End of our services heading*/

/*Service Description*/

.service-description {
    margin: 0;
    padding-top: 60px;  
}

.service-content {
    margin: 0;
    display: flex;
    flex-wrap: wrap;   
}

.service-content .icons {
    margin: 0; 
    display: flex;
    flex-direction: row;
   
}

/*Column of icon*/
.icon-column{
    position: relative;
    display: flex;
}
/*End of coumn of icon*/

.service-content .icons .icon-a, .icon-b, .icon-c, .icon-d h4 {
    padding: 30px;
    width: 340px;
    height: 220px;
    font-size: 26px; 
    font-family: 'Roboto';
    font-weight: bold;
    color: black; 
    background: #C4C4C4;
}

.service-content .icons .icon-a, .icon-b, .icon-c, .icon-d h4 {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
}

.service-content .icons .icon-a {
    display: flex;
    flex-wrap: wrap;
}
.service-content .icons .icon-b {
    display: flex;
    flex-wrap: wrap;
}

.service-content .icons .icon-c {
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
}

.service-content .icons .icon-d {
    display: flex;
    flex-wrap: wrap;
}

.service-content .service-details {
    margin: 0;
    position: relative;
    left: 120px;
}
.service-content .service-details h4 {
    position: absolute;
    width: 423px;
    height: 113px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    color: var(--black);
}

.service-content .service-details p {
    position: absolute;
    width: 532px;
    height: 66px;
    top: 140px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color: var(--black);
}

.service-button {
    position: absolute;
    width: 228px;
    height: 71px;
    top: 250px;
    border-radius: 15px;
}

/*End of our services*/